@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}
header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding:0px;
}
.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color:black;
}
.nav-item{
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    background: rgb(85, 83, 83);
    color: rgb(241, 235, 235);
}


#nav-link{
    margin: 1rem;
    float: right;
    align-items: flex-end;
    text-align: right;
}


.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}
nav ul li a{
    color: black;
    font-size:17px;
    padding: 7px 13px;
}
#slider{
    overflow:hidden;
    background-size: cover;
}
.logo{
    width:7vw;
    float:left;
    height:6vh;
    margin-top: 8px;
    margin-left: 40px;
   
}

#slider figure {
    position: relative;
    flex: wrap;
    width:500%;
    margin:0;
    animation: 15s slider infinite;
}

#slider figure img {
    margin-top: 50px;
    width : 20%;
    float: left;
}

@keyframes slider {
    10% {
        left: 0%;
    }
    20% {
        left: -100%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -200%;
    }   
    50% {
        left: -200%; 
    } 
    60% {
        left: -300%;
    }
    80% {
        left: -300%;
    } 
}
.hero-img{
    position: relative;
    margin-top: 20px;
}
.banner{
    position: relative;
    margin-top:50px ;
    margin-bottom: 50px;
    background-size: cover;
    height: 70vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner h1{
    color: white;
    font-weight: 800;

}
.banner p{
    margin: 1em 0 0;
    color: white;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.5 em;

}

.featured{
    margin-top: 500px;
}

hr{
    width: 50px;
    height:2px;
    color: rgb(25, 100, 240);

}

h2{
    font-size: 1.8rem;
    font-weight: 600;
   
}

.product{
    cursor:pointer;
    margin-bottom: 2rem;

}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}


